Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@DanilTry 
DanilTry
/
vilnimain
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
vilnimain
/
СSS
/
style-main.css
in
main
 

Spaces

4

No wrap
1
*{padding: 0;margin: 0;border: 0;}
2
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
3
:focus,:active{outline: none;}
4
a:focus,a:active{outline: none;}
5
nav,footer,header,aside{display: block;}
6
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
7
input,button,textarea{font-family:inherit;}
8
input::-ms-clear{display: none;}
9
button{cursor: pointer;}
10
button::-moz-focus-inner{padding:0;border:0;}
11
a,a:visited{text-decoration: none;}
12
a:hover{text-decoration: none;}
13
ul li{list-style: none;}
14
img{vertical-align: top;}
15
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
16
/*--------------------*/
17
​
18
.cover {
19
    height: 650px;
20
    padding-top: 200px;
21
    background-color: #D9D9D9;    background-image: url(/vilnimain/img/main/IMG_8315.JPG);
22
    background-size: cover;
23
    background-color: rgba(0, 0, 0, 0.5);
24
​
25
}
26
.cover__container {
27
    
28
}
29
.cover__content {
30
    padding: 150px 0 0 0 ;
31
    width: 338px;
32
    font-weight: 600;
33
    color: #fff;
34
}
35
.cover-title {
36
    font-size: 52px;
37
}
38
.cover-text {
39
    padding-top: 15px;
40
}
41
​
42
​
43
​
44
/************slides******************/
45
​
@DanilTry
Commit changes
Commit summary
Create style-main.css
Optional extended description
Add an optional extended description…
 Commit directly to the main branch.
 Create a new branch for this commit and start a pull request. Learn more about pull requests.
 
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
You have no unread notifications
